{% extends 'base.html' %}   

{% block title %}Создание и продвижение сайтов на заказ | {{ page.title }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="span4">
            <aside>
                <div class="widget">
                    <h4>Мои контакты:</h4>
                    <ul>
                        <li>
                            <label><strong>Телефон: </strong></label>
                            <p>+7 (926) 836 12 36</p>
                        </li>
                        <li>
                            <label><strong>Email: </strong></label>
                            <a href='mailto: anna@webgenesis.ru' target='_blank'>anna@webgenesis.ru</a>
                        </li>
                        <li>
                            <label><strong>Часы работы: </strong></label>
                            <p>ПН-ВС 11:00-21:00</p>
                        </li>
                        <li>
                            <label><strong>Адрес: </strong></label>
                            <p>г. Москва, Кутузовский проезд, 16</p>
                            <img src='/static/img/me.png'>
                        </li>
                    </ul>
                </div>
            
            </aside>
        </div>
        <div class="span8">
            <!--{{ page.content|safe }} -->
            <p>Меня зовут Аня, мне 25 лет, живу в Москве. Мой профиль <a href='http://vk.com/annkpx' target="_blank">ВКонтакте</a>.</p>
            <p>
                Я начала программировать в восьмом классе. В девятом я сделала свой первый сайт на "народ.ру" и научилась верстать. В десятом я уже зарабатывала на карманные расходы вёрсткой. Я училась в технической школе, потом лицее, потом поступила в МГТУ им. Баумана. На третьем курсе пошла работать С++ программистом, потом python. Потом открытала ИП и начала заниматься фрилансом.
            </p>

            <p>
                Сейчас у меня несколько своих проектов, их можно посмотреть <a href="/works">здесь</a>, но пока они не приноят мне такого уровня дохода, чтобы я могла больше не выполнять заказную работу. Потому, собственно, существует этот сайт. 
            </p>

            <p>
                Со мной можно работать как физическим, так и юридическим лицам. <br />
                Оплата услуг может производиться по наличному или безналичному расчету. <br />
                Можем работать по договору или без. <br />
                Реквизиты Вы сможете получить при личном запросе.<br />
            </p>

            <img src='/media/stamp.png'  style='float: right; clear: both; margin-top: -70px;'/>

            <hr />
<!--
            <form action="#" method="post" class="contact-form" name="comment-form">
                <div class="row">
                    <div class="span3">
                        <label>Ваше имя <span>*</span></label>
                        <input type="text" class="input-block-level" placeholder="Ваше имя" />
                    </div>
                    <div class="span3">
                        <label>Email <span>*</span></label>
                        <input type="text" class="input-block-level" placeholder="Ваш email" />
                    </div>
                    <div class="span8">
                        <label>Сообщение <span>*</span></label>
                        <textarea rows="9" class="input-block-level" placeholder="Сообщение"></textarea>
                        <button class="btn btn-small btn-success" type="submit">Отправить сообщение</button>
                    </div>
                </div>
            </form>-->
        </div>
    </div>

{% endblock %}
