{% extends 'base.html' %}   

{% block title %}Создание и продвижение сайтов на заказ | {{ page.title }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="span4">
            <aside>
                <div class="widget">
                    <h4>Мои контакты:</h4>
                    <ul>
                        <li>
                            <label><strong>Телефон: </strong></label>
                            <p>+7 (926) 836 12 36</p>
                        </li>
                        <li>
                            <label><strong>Email: </strong></label>
                            <a href='mailto: anna@webgenesis.ru' target='_blank'>anna@webgenesis.ru</a>
                        </li>
                        <li>
                            <label><strong>Часы работы: </strong></label>
                            <p>ПН-ВС 11:00-21:00</p>
                        </li>
                        <li>
                            <label><strong>Адрес: </strong></label>
                            <p>г. Москва, Кутузовский проезд, 16</p>
                            <img src='/static/img/me.png'>
                        </li>
                    </ul>
                </div>
            
            </aside>
        </div>
        <div class="span8">
            <!--{{ page.content|safe }} -->

            <p>Меня зовут Аня, я программист. Я реализую сложные веб-проекты. Имею многолетний опыт. Но так как клиентам необходимы сайты под ключ, а я лично выполняю только часть этого процесса, 3 года назад я начала набирать команду. Теперь она состоит из специалистов различного профиля, это и дизайнеры, и верстальщики, и рекламщики, и специалисты по работе со словом. </p>

            <p>Поэтому в принципе со мной вы можете сделать практически любой стартап под ключ. Это и подготовка (создание логотипа и фирменного стиля), и собственно создание сайта под ключ, и дальшейшая поддержка и продвижение. <br /><a href='/services/' target='_blank'>Подробнее об услугах &raquo;</a></p>

            <p>Для решения данной задачи (в простом варианте) обычно задействуется 3 лица: дизайнер, верстальщик и программист. Для создания продукта (сайта), необходим ещё четвёртый человек – менеджер. Эту роль может выполнять заказчик. Но тут возникает вопрос, имеет ли это смысл? Во-первых,  менеджер с опытом сделает всё быстрее и качественнее и совершенно не факт, что в итоге выйдет дороже. Потому что у менеджера уже есть налаженная схема и скидки от подрядчиков, с которыми уже есть общий язык, и работа поставлена на поток. Я сама занимаюсь менеджментом и программированием. Но в первую очередь я, конечно, программист, поэтому с радостью беру проекты с уже готовым дизайном. На такие проекты цена ниже в 2 раза, чем если его делать под ключ. </p>

            <p>Немного о ценообразовании. В Москве дизайнеры-фрилансеры берут от 20-30 тыс за дизайн сайта-визитки, я же делаю примерно за те же цены целый сайт! И при том, работаю в Москве (есть все преимущества этого). Почему так дешево? Потому что я работаю с дизайнерами из регионов. Там ведь живут не менее талантливые ребята, а берут раза в 2-3 меньше, чем Московские! С ними уже контакт и работа налажена за годы сотрудничества, поэтому Вы не почувствуете неудобств от того, что дизайнер не под рукой. Вы работаете только с одним человеком – мной, а я нахожусь рядом.</p>

            <p>Резюмирую, почему я говорю, что у меня <u>лучшие цены в Москве</u>? Потому что я выбрала компромиссное решение для уменьшения себестоимости сайтов – заказчики рядом, а исполнители там, где дешевле, что не несёт в себе издержек в виде недопонимания. Ну а с качеством Вы можете ознакомиться в моём <a href='/portfolio/' target='_blank'>портфолио &raquo;</a>.</p>


            <p>
                Я работаю официально на территории РФ как ИП. Нахожусь в Москве, и при необходимости, мы всегда сможем встретиться с Вами лично и обсудить все вопросы.
            </p>

            <p>
                Со мной можно работать как физическим, так и юридическим лицам. <br />
                Оплата услуг может производиться по наличному или безналичному расчету. <br />
                Реквизиты Вы сможете получить при личном запросе.<br />
            </p>

            <img src='/media/stamp.png'  style='float: right; clear: both; margin-top: -70px;'/>

            <hr />

            <form action="#" method="post" class="contact-form" name="comment-form">
                <div class="row">
                    <div class="span3">
                        <label>Ваше имя <span>*</span></label>
                        <input type="text" class="input-block-level" placeholder="Ваше имя" />
                    </div>
                    <div class="span3">
                        <label>Email <span>*</span></label>
                        <input type="text" class="input-block-level" placeholder="Ваш email" />
                    </div>
                    <div class="span8">
                        <label>Сообщение <span>*</span></label>
                        <textarea rows="9" class="input-block-level" placeholder="Сообщение"></textarea>
                        <button class="btn btn-small btn-success" type="submit">Отправить сообщение</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
