{% extends 'base.html' %}

{% block title %}Создание и продвижение сайтов на заказ | Статьи{% endblock %}

{% block head %}
{% endblock %}

{% block breadcrumb %}
        <section id="breadcrumb">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <ul class="breadcrumb notop">
                            <li><a href="/">Главная</a><span class="divider">/</span></li>
                            <li class="active">Статьи</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="span8">
            {% for a in articles %}
            <article class="blog-post" style='overflow: hidden'>
                <div class="post-heading">
                    <h3><a href="/articles/{{ a.slug }}">{{ a.name }}</a></h3>
                </div>
                <div class="row">
                    {% if a.image %}
                    <div class="span3">
                        <div class="post-image">
                            <a href='/articles/{{ a.slug }}'><img src="/media/{{ a.image }}" alt="" /></a>
                        </div>
                    </div>
                    <div class="span5">
                    {% else %}
                    <div class="span12">
                    {% endif %}
                        <ul class="post-meta">
                            <li class="first"><i class="icon-calendar"></i><span>{{ a.date }}</span></li>
                            <!--<li><i class="icon-list-alt"></i><span><a href="#">3 comments</a></span></li>-->
                            {% if a.tags.all|length %}
                            <li class="last"><i class="icon-tags"></i> <span>
                                {% for t in a.tags.all %} <a href="/articles/tag/{{ t.id }}">{{t}}</a>{% if not forloop.last %}, {% endif %}  {% endfor %}
                            </span></li>
                            {% endif %}
                        </ul>
                        <div class="clearfix">
                        </div>
                        <p>{{ a.desc }}</p>
                        <a href='/articles/{{ a.slug }}' class="btn btn-small btn-success" type="button">Подробнее &raquo;</a>
                    </div>
                </div>
            </article>
            {% endfor %}
            
        </div>
        <div class="span4">
            {% include 'recent_articles.html' %}
        </div>
    </div>
{% endblock %}