{% extends 'base.html' %}

{% block title %}Создание и продвижение сайтов на заказ | Статьи | {{ curr_article.name }}{% endblock %}

{% block head %}
{% endblock %}

{% block breadcrumb %}
    <section id="breadcrumb">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <ul class="breadcrumb notop">
                        <li><a href="/">Главная</a><span class="divider">/</span></li>
                        <li><a href="/articles/">Статьи</a><span class="divider">/</span></li>
                        <li class="active">{{ curr_article.name }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
<div class="row">
    <div class="span8">
        <!-- start article full post -->
        <article class="blog-post">
            <div class="post-heading">
                <h3>{{ curr_article.name }}</h3>
            </div>
            <div class="clearfix"></div>
            {% if curr_article.image %}
                <img src="/media/{{ curr_article.image }}" alt="" />
            {% endif %}
            <ul class="post-meta">
                <li class="first"><i class="icon-calendar"></i><span>{{ curr_article.date }}</span></li>
                {% if curr_article.tags.all|length %}
                    <li class="last"><i class="icon-tags"></i><span>{% for t in curr_article.tags.all %} <a href="/articles/tag/{{ t.id }}">{{t}}</a>{% if not forloop.last %}, {% endif %}  {% endfor %}</span></li>
                {% endif %}
            </ul>
            <div class="clearfix"></div>

            {{ curr_article.text|safe }}
        </article>
        
    </div>
    
    <div class="span4">
       {% include 'recent_articles.html' %}
    </div>
</div>
{% endblock %}