{% extends 'base.html' %}

{% block setting %}{% endblock %}

{% block head %}
        <style type="text/css">
            .circle {
                width: 237px;
                height: 237px;
                border-radius: 118px;
                -webkit-border-radius: 118px;
                -moz-border-radius: 118px;
                background: url('/static/img/me.png') no-repeat;
            }
        </style>
{% endblock %}

{% block breadcrumb %}{% endblock %}

{% block slider %}
    <section id="subintro">
        <div class="jumbotron subhead" id="overview">
            <div class="container">
               <div class="row">
                <div class="span3">
                    <div class="circle"></div>
                </div>
                <div class="span9">
                   <p class="lead">            
                        Здравствуйте! Меня зовут Аня, я &mdash; программист, занимаюсь крупными и/или нестандартными веб-проектами. Нахожусь в Москве. Могу работать с юридическими и физическими лицами (есть ИП). Моя ставка в месяц от 100 тыс. рублей. Ищу постоянную удалённую работу. Готова к сотрудничеству за&nbsp;% в бизнесе. 
                        <br />Получила высшее техническое образование по специальности "Разработка ПО" в МГТУ им. Баумана.                 
                    </p>
                    
                </div>
            </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
        <div class="row">
    		<div class="span8">
                <h2>Если вам нужен стандартный сайт</h2>
                <p>Я зарабатываю фрилансом с 2011 года. За это время я сделала много сайтов, их вы можете посмотреть в портфолио. На моём опыте всем нужно почти одно и то же: лендинги, сайты-визитки да интернет-магазины. Решения для 95% задач уже есть. Скорее всего, и вам не нужно ничего такого, для чего нужен программист. Если так, то послушайте что я вам скажу.</p>
                <p>Если вы хотите сделать максимально простой сайт, за минимальное количество денег и времени, то вы должны понимать что он не будет уникальным и брендированным. В этом случае ищите готовые решения, например используйте umicms или wix или генераторы лендингов. Такой сайт вам обойдётся в копейки.</p>
                <p>Если вам нужен обязательно уникальный дизайн, но функционала у сайта особого не ожидается, то вам подойдёт какая-нибудь CMS. Вы можете обратиться к веб-дизайнеру, чтобы он прорисовал все страницы, а потом к веб-мастеру, который работает с CMSками, которых много для разных задач. Работа по "натягиванию" дизайна на CMS не будет дорого стоить. Для визитки это тысяч 5, для интернет-магазина 10, примерно так. Выбирайте CMS по популярности и цене. Вам не нужно и здесь привлекать программиста, такую работу могут выполнять верстальщики, она требует меньшей квалификации. </p>
                <p>Делать типовые решения на своём движке &mdash; стрелять из пушки по воробьям. Поэтому я за последние 2 года постепенно перешла с создания простых сайтов на создание сложных веб-проектов с бюджетом на программирование от 100 тыс. рублей. </p>
                <hr />
    		</div>
            <div class="span4">
                <aside>
                    <div class="widget">
                        <h4>Контакты:</h4>
                        <ul>
                            <li>
                                <label><strong>Телефон: </strong></label>
                                <p>+7 (926) 836 12 36</p>
                            </li>
                            <li>
                                <label><strong>Email: </strong></label>
                                <a href='mailto: anna@webgenesis.ru' target='_blank'>anna@webgenesis.ru</a>
                            </li>
                            <li>
                                <label><strong>Часы работы: </strong></label>
                                <p>ПН-ВС 11:00-21:00</p>
                            </li>
                            <li>
                                <label><strong>Адрес: </strong></label>
                                <p>г. Москва, Кутузовский проезд, 16</p>                            
                            </li>
                        </ul>
                    </div>
                
                </aside>
            </div>
        </div>

        <div class="row">
            <div class="span12">
                <h2>Если вам нужен сложный / не стандартный проект</h2>
            </div>
            <div class="span6">
                <div>
                    <h4>Какие технологии я использую:</h4>
                    <ul>
                        <li>язык программирования <b>python</b></li>
                        <li>проекты, в которых больше подходит реляционная модель данных, делаю с помощью фреймворка <b>django</b> + <b>MySQL</b>/<b>PostgreSQL</b> (в зависимости от бизнес-логики и необходимого функционала)</li>
                        <li>в ином случае делаю на <b>tornado</b> + <b>mongoDB</b> (стоит дороже)</li>
                        <li>в качестве поискового движка использую <b>elastic search</b></li>
                        <li>разворачиваю проекты на машинах с <b>debian</b>-подобными ОС; сервер <b>nginx</b>, знаю <b>bash</b></li>
                        <li>использую <b>memcached</b>, <b>rabbitmq</b>, supervisor, fabriq</li>
                        <li>разумеется, я подвёрстываю: <b>html</b>, <b>css</b>, <b>js</b>, <b>bootstrap</b></li>
                        <li>автоматизация тестирования веб-приложений с помощью <b>selenium</b></li>
                        <li>конечно же, git, github, jenkins</li>
                        <li>для платежей на сайтах добавляю сервис "робокасса"</li>
                    </ul>
                </div>
            </div>
            <div class="span6">
                <div>
                    <h4>Что я знаю и умею:</h4>
                    <p>Я имею хорошую алгоритмическую подготовку, в том числе по математике (тер. вер, мат. стат, иссл. оп., дискр. мат.), алгоритмам искуственного интеллекта. Поэтому я возьмусь с привеликим удовольствием за задачи:</p>
                    <ul>
                        <li>оптимизации</li>
                        <li>рекомендаций</li>
                        <li>поиска, кластеризации и классификации</li>
                        <li>анализа данных</li>
                        <li>машинного обучения</li>
                    </ul>
                    <p>Могу проектировать архитектуру приложения и баз данных с расчётом на масштабирование.</p>
                    <p>Знакома с основами т.н. <b>high load</b>: использую кеширование, очереди, репликации, шардинг.</p>
                    <p>Я разбираюсь в работе поисковых систем и SEO.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="span12">
                <div class="tagline" style="margin: 0; padding: 0">
                    <h2 class="centered">Что я могу предложить?</h2>
                                
                    <div class="row">
                        <div class="span6" >
                            <h4>Программирование</h4>
                            <p><span class="text-success" style="font-size: 1.2em">1. Если у вас уже налажена разработка проекта, есть менеджер проекта, всё уже спроектировано, есть ТЗ и дизайн</span>, то я могу предложить услуги программиста. В основном, я занимаюсь бекендом (+ админстрирование), но фронтендом тоже могу (вёрстка + js).</p>
                            <p>Могу работать одна или в команде. Готова ко встречам в Москве и работе в офисе до 20ч в неделю.</p>
                            <p>Вариантов оплаты может быть много: за работу (по предоплате), за каждый час или за месячную зарплату.</p>
                            
                            <hr />
                            <p><span class="text-success" style="font-size: 1.2em">2. Если у вас есть потребность в небольшой программерской работе</span>, тоже обращайтесь. ТЗ не обязательно, главное чтобы я поняла суть задачи.</p> 
                            <p>Могу делать скрипты, парсеры, могу обрабатывать данные, проводить анализ, писать автоматизированнованные тестирования (например, с использованием selenium). </p>
                            <p>Могу автоматизировать какие-то бизнес процессы, работать с базами данных. Делать загрузку-выгрузку из разных форматов, конвертация, работать с API разных систем и т.д. </p>
                            <p>В общем, могу делать всё, что можно формализовать.</p>
                            <p>Работаю по предоплате 50%, делаю оперативно.</p>
                        </div>
                        <div class="span6">
                            <h4>Реализация проекта под ключ</h4>
                            <p><span class="text-success" style="font-size: 1.2em"> 3. Если у вас есть идея, деньги, и всё остальное, помимо технической реализации</span>, то я могу на себя её взять. </p>
                            <p>ТЗ не обязательно, главное чётко понимать что вы сами хотите. Спроектируем работу вместе.</p>
                            <p>Я готова погрузиться в ваш проект, проявлять инициативу и советовать, как сделать лучше с технической стороны, т.е. готова быть не только исполнителем, но и генерировать идеи, задачи и решения.</p>
                            <p>В этом случае я буду аутсорсить дизайн, юзабилити и вёрстку своим ребятам, с которыми я уже давно работаю. Я скину их портфолио и вы сможете выбрать оптимальных исполнителей по качеству и цене.</p>
                            <p>Порядок работ:</p>
                            <ol>
                                <li>Вы заполняете бриф (его можно скачать в зеленом блоке ниже) или описываете мне задание по почте.</li>
                                <li>Я связываюсь с вами, консультирую, ориентирую по цене и срокам.</li>
                                <li>Если необходим договор, заключаем.</li>
                                <li>Вы отправляете предоплату (30%).</li>
                                <li>Составляем ТЗ, если это необходимо. Проектируем проект.</li>
                                <li>Создаём логотип, фирменный стиль, дизайн проекта. Вы утверждаете его.</li>
                                <li>Вы отправляете вторую часть оплаты (30%). </li>
                                <li>Я верстаю, программирую, выкладываю проект на свой хостинг, тестирую.</li>
                                <li>Вы утверждаете и вносите оставшуюся часть оплаты (40%).</li>
                                <li>Я выкладываю проект на ваш хостинг и прикрепляю домен.</li>
                            </ol>
                        </div>

                         <div class="span6">
                            <h4>Идеи</h4>
                            <p><span class="text-success" style="font-size: 1.2em">4. Если у вас есть деньги, но нет идей</span>, то вы мне очень нужны, так как у меня есть много идей, но нет денег. Их я пока оформляю, в скором времени они появятся на этом сайте. Как мне кажется, я понимаю куда движется интернет, я знаю будущее, даже <a href="http://vk.com/annkpx_book" target="_blank">пишу об этом книгу</a>.</p>
                            
                        </div>
                        <div class="span6">
                            <h4>Сотрудничество</h4>
                            <p><span class="text-success" style="font-size: 1.2em"> 5. Если у вас есть идея, но нет денег на техническую реализацию</span>, либо вы хотите чтобы технической директор был в составе учредителей и получал процент от прибыли, а не зарплату (дабы обеспечить обратную денежную связь), то это тоже обсуждаемо. Я готова работать на будущее.</p>
                        </div>
                    </div>

                    <div class="row"> 
                        <div class="span12">
                            <div class="btn-toolbar cta centered">
<a class="btn btn-large btn-color" href="/media/brief.doc" target='_blank'>
                                <i class="icon-file icon-white"></i> Бриф </a>
<a class="btn btn-large btn-color" href="/media/dogovor.docx">
                                <i class="icon-file icon-white"></i> Договор </a>
                                <a class="btn btn-large btn-inverse" href='mailto:anna@webgenesis.ru' target='_blank'>
                                <i class="icon-envelope icon-white"></i> Написать мне</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end tagline -->
            </div>
        </div>
        
        <div class="row">
            <div class="home-posts">
                <div class="span12">
                    <h3>Последние работы</h3>
                </div>
                {% for w in works_r %}
                <div class="span3">
                    <div class="post-image">
                        <a href="/portfolio/{{ w.slug }}">
                        <img src="/media/{{ w.image.all.0.image }}" alt="" />
                        </a>
                    </div>
                    <!-- end .entry-meta -->
                    <div>
                        <a href="/portfolio/{{ w.slug }}">
                        <h5 class="title">{{ w.title }}</h5>
                        </a>
                        <p>{{ w.desc }}</p>
                        <a href='http://{{ w.href }}/' target='_blank'> Перейти на сайт {{ w.href }} &raquo;</a><br />
                        <a href='/portfolio/{{ w.slug }}' class='btn btn-color btn-small'>Подробнее &raquo;</a>
                    </div>
                    <!-- end .entry-body -->
                    <div class="clear">
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <hr />
        {% comment %}
        <div class="row">
            <div class="home-posts">
                <div class="span12">
                    <h3>Последние статьи</h3>
                </div>
                {% for a in articles %}
                <div class="span3">
                    <div class="well">
                    <div class="centered">
                        <a href="/articles/{{ a.slug }}">
                        <h5 class="title">{{ a.name }}</h5>
                        </a>
                        <p>{{ a.desc }}</p>
                        {% for t in a.tags.all %} <span class="label"> {{t}} </span> {% endfor %}<br />
                        <a href='/article/{{ a.slug }}' class='btn btn-link'>Подробнее &raquo;</a>
                    </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endcomment %}
        
{% endblock %}
