{% extends 'base.html' %}

{% block setting %}{% endblock %}

{% block head %}
        <style type="text/css">
            .circle {
                width: 237px;
                height: 237px;
                border-radius: 118px;
                -webkit-border-radius: 118px;
                -moz-border-radius: 118px;
                background: url('/static/img/me.png') no-repeat;
            }
        </style>
{% endblock %}

{% block breadcrumb %}{% endblock %}

{% block slider %}
    <section id="subintro">
        <div class="jumbotron subhead" id="overview">
            <div class="container">
               <div class="row">
                <div class="span3">
                    <div class="circle"></div>
                </div>
                <div class="span9">
                   <p class="lead">            
                        Здравствуйте! Меня зовут Аня, я &mdash; программист, занимаюсь крупными интересными веб-проектами (интернет-стартапами или внутренними корпоративными). Нахожусь в Москве. Могу работать с юридическими и физическими лицами (есть ИП). Рассматриваю заказы на проекты только с бюджетом от 100 тыс. рублей, а так же беру мелкие задачи по программированию, например, парсеры. Готова к сотрудничеству за&nbsp;% в бизнесе. Ищу постоянную удалённую работу. Получила высшее техническое образование по специальности "Разработка ПО" в МГТУ им. Баумана.                 
                    </p>
                    
                </div>
            </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
        <div class="row">
    		<div class="span8">
                <h2>Если вам нужен простой сайт</h2>
                <p>Я зарабатываю фрилансом с 2011 года. За это время я сделала много сайтов, их вы можете посмотреть в портфолио. На моём опыте всем нужно почти одно и то же: лендинги, сайты-визитки да интернет-магазины. Решения для 95% задач уже есть. Скорее всего, и вам не нужно ничего такого, для чего нужен программист. Если так, то послушайте что я вам скажу.</p>
                <p>Если вы хотите сделать максимально простой сайт, за минимальное количество денег и времени, то вы должны понимать что он не будет уникальным и брендированным. В этом случае ищите готовые решения, например используйте umicms или wix или генераторы лендингов. Такой сайт вам обойдётся в копейки.</p>
                <p>Если вам нужен обязательно уникальный дизайн, но функционала у сайта особого не ожидается, то вам подойдёт какая-нибудь CMS. Вы можете обратиться к веб-дизайнеру, чтобы он прорисовал все страницы, а потом к веб-мастеру, который работает с CMSками, которых много для разных задач. Работа по "натягиванию" дизайна на CMS не будет дорого стоить. Для визитки это тысяч 5, для интернет-магазина 10, примерно так. Выбирайте CMS по популярности и цене. Вам не нужно и здесь привлекать программиста, такую работу могут выполнять верстальщики, она требует меньшей квалификации. </p>
                <p>Делать типовые решения на своём движке &mdash; стрелять из пушки по воробьям. Поэтому я за последние 2 года постепенно перешла с создания простых сайтов на создание сложных веб-проектов с бюджетом на программирование от 100 тыс. рублей. </p>
                <hr />
    		</div>
            <div class="span4">
                <aside>
                    <div class="widget">
                        <h4>Контакты:</h4>
                        <ul>
                            <li>
                                <label><strong>Телефон: </strong></label>
                                <p>+7 (926) 836 12 36</p>
                            </li>
                            <li>
                                <label><strong>Email: </strong></label>
                                <a href='mailto: anna@webgenesis.ru' target='_blank'>anna@webgenesis.ru</a>
                            </li>
                            <li>
                                <label><strong>Часы работы: </strong></label>
                                <p>ПН-ВС 11:00-21:00</p>
                            </li>
                            <li>
                                <label><strong>Адрес: </strong></label>
                                <p>г. Москва, Кутузовский проезд, 16</p>                            
                            </li>
                        </ul>
                    </div>
                
                </aside>
            </div>
        </div>

        <div class="row">
            <div class="span12">
                <h2>Если вам нужен сложный проект</h2>
            </div>
            <div class="span6">
                <div>
                    <h4>Какие технологии я использую:</h4>
                    <ul>
                        <li>язык программирования <b>python</b></li>
                        <li>проекты, в которых больше подходит реляционная модель данных, делаю с помощью фреймворка <b>django</b> + <b>MySQL</b>/<b>PostgreSQL</b> (в зависимости от бизнес-логики и необходимого функционала)</li>
                        <li>в ином случае делаю на <b>tornado</b> + <b>mongoDB</b> (стоит дороже)</li>
                        <li>в качестве поискового движка использую <b>elastic search</b></li>
                        <li>разворачиваю проекты на машинах с <b>debian</b>-подобными ОС; сервер <b>nginx</b></li>
                        <li>использую <b>memcached</b>, <b>rabbitmq</b>, supervisor, fabriq</li>
                        <li>автоматизация тестирования веб-приложений с помощью <b>selenium</b></li>
                        <li>конечно же, git, github, jenkins</li>
                        <li>для платежей на сайтах добавляю сервис "Робокасса"</li>
                    </ul>
                </div>
            </div>
            <div class="span6">
                <div>
                    <h4>Что я знаю и умею:</h4>
                    <p>Я имею хорошую алгоритмическую подготовку, в том числе по алгоритмам искуственного интеллекта, постоянно углубляю знания Поэтому я возьмусь с привеликим удовольствием за задачи такого рода:</p>
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                    <p>знакома с основами т.н. <b>high load</b>: использую memcached, rabbit, репликации, шардингw</p>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="span12">
                <div class="tagline">
                    <div class="row">
                        <div class="span12">
                            <div class="tagline_text">
                                <h2 class="centered">Порядок работ</h2>
                                <div class="row">
                                    <div class="span6">
                                        <h4>Программирование</h4>
                                        <p>Бекенд (+ Фронтенд) в проектах, ТЗ обязательно</p>
                    <p>или скрипты</p>
                                        <p>
                                            Для того, чтобы я могла оцинить стоимость работ и сроки, вы можете заполнить бриф и прислать его мне по почте или через форму заказа и/или позвонить мне по телефону.
                                        </p>
                                        <ol>
                                            <li>Клиент заполняет бриф (Бриф можно скачать в зеленом блоке ниже).</li>
                                            <li>Мы связываемся с клиеном, согласовываем детали, объявляем цену и сроки.</li>
                                            <li>Если необходим договор, заключаем.</li>
                                            <li>Получение предоплаты.</li>
                                            <li>Составляем ТЗ, если это необходимо.</li>
                                            <li>Дизайн. Сюда включается логотип, если его нет.</li>
                                            <li>Утверждение дизайна. Если по схеме 1, то вторая часть оплаты.</li>
                                            <li>Вёрстка.</li>
                                            <li>Утверждение вёрстки.</li>
                                            <li>Программирование. Выкладывание на хостинг. Тестирование.</li>
                                            <li>Утверждение сайта.</li>
                                            <li>Полная оплата работы.</li>
                                            <li>Выкладывание на хостинг клиета и прикрепление домена.</li>
                                        </ol>
                                    </div>
                                    <div class="span6">
                                        <h4>Проект под ключ</h4>
                                        <p></p>
                                        <p>ТЗ не обязательно/ Требование: самому понимать что нужно/</p>
                                    </div>
                                </div>
                                
                                <br />
                            </div>
                            <div class="btn-toolbar cta centered">
<a class="btn btn-large btn-color" href="/media/brief.doc" target='_blank'>
                                <i class="icon-file icon-white"></i> Бриф </a>
<a class="btn btn-large btn-color" href="/media/dogovor.docx">
                                <i class="icon-file icon-white"></i> Договор </a>
                                <a class="btn btn-large btn-inverse" href="/order/#zakaz" target='_blank'>
                                <i class="icon-shopping-cart icon-white"></i> Сделать заказ </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end tagline -->
            </div>
        </div>
        
        <div class="row">
            <div class="home-posts">
                <div class="span12">
                    <h3>Последние работы</h3>
                </div>
                {% for w in works_r %}
                <div class="span3">
                    <div class="post-image">
                        <a href="/portfolio/{{ w.slug }}">
                        <img src="/media/{{ w.image.all.0.image }}" alt="" />
                        </a>
                    </div>
                    <!-- end .entry-meta -->
                    <div>
                        <a href="/portfolio/{{ w.slug }}">
                        <h5 class="title">{{ w.title }}</h5>
                        </a>
                        <p>{{ w.desc }}</p>
                        <a href='http://{{ w.href }}/' target='_blank'> Перейти на сайт {{ w.href }} &raquo;</a><br />
                        <a href='/portfolio/{{ w.slug }}' class='btn btn-color btn-small'>Подробнее &raquo;</a>
                    </div>
                    <!-- end .entry-body -->
                    <div class="clear">
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <hr />
        {% comment %}
        <div class="row">
            <div class="home-posts">
                <div class="span12">
                    <h3>Последние статьи</h3>
                </div>
                {% for a in articles %}
                <div class="span3">
                    <div class="well">
                    <div class="centered">
                        <a href="/articles/{{ a.slug }}">
                        <h5 class="title">{{ a.name }}</h5>
                        </a>
                        <p>{{ a.desc }}</p>
                        {% for t in a.tags.all %} <span class="label"> {{t}} </span> {% endfor %}<br />
                        <a href='/article/{{ a.slug }}' class='btn btn-link'>Подробнее &raquo;</a>
                    </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endcomment %}
        
{% endblock %}
