{% extends 'base.html' %}

{% block title %}Создание и продвижение сайтов на заказ | Портфолио{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/static/portfolio/css/style.css" type="text/css"/>
<!--     <script src="/static/portfolio/js/jquery.min.js"></script> -->
    <script src="/static/portfolio/js/modernizr.custom.87724.js"></script>
{% endblock %}

{% block slider %}
    <section id="subintro">
        <div class="jumbotron subhead" id="overview">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <div class="centered">
                            <h3>Портфолио</h3>
                            <p>Здесь представлены простые сайты до 2014 года.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block breadcrumb %}
    <section id="breadcrumb">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <ul class="breadcrumb notop">
                        <li><a href="/">Главная</a><span class="divider">/</span></li>
                        <li class="active">Портфолио</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
        

{% block content %}  
    <div class="well">
        <p>Здесь представлены некоторые работы с 2012 по 2014 год: лендинги, сайты-визитки, интернет-магазины.</p>
        <p>Программная часть почти во всех проектах проста и одинакова, они различаются только по дизайну. Так что будь тут в портфолио хоть 30 сайтов, хоть 130, разницы почти никакой, ибо каждый следующий по программной части не отличается от предыдущего. Это скорее портфолио моих дизайнеров. </p>
        <p>Не стоит выбирать программиста по красивости сайтов. Не надо так делать, это ошибка. Надо смотреть на функционал приложений, а не на внешний вид. Один крупный проект из раздела "Мои работы" скажет обо мне как о программисте намного больше, чем все эти красивые уникальные дизайны. </p>
        <p>Внешний вид &mdash; работа дизайнеров. Вы можете найти своего, портфолио которого вам понравится и устроит цена, можете работать с одним из моих. А можно вообще делать веб-проекты (особенно прототипы) без дизайна, на готовом шаблоне.</p>
        <p>В общем, я оставила эту страницу просто для истории. Не обращайте на неё слишком много внимания.</p>
    </div>

    <div class="container clearfix" id="main-content">
        <div class="row-fluid">
            <ul class="gallery lightbox three_col clearfix">
                {% for w in works %}
                    <li class="{% for t in w.tags.all %} {{ t.slug }}  {% endfor %} "> 
                        <a class="hover" href="/portfolio/{{ w.slug }}">
                            <img src="/media/{{ w.image.all.0.image }}" alt="{{ w.name }}" />
                        </a>
                    </li>
                {% endfor %}
               
            </ul>
        </div>
    </div>
    <!--close .container role="main-content" --> 

    
    <!-- scripts on this page ================ --> 
<script src='/static/portfolio/js/jquery.isotope.min.js'></script><!--filter and masonry script--> 
<script src='/static/portfolio/js/isotope_custom.js'></script><!--custom settings--> 
<script src="/static/portfolio/js/fancybox/source/jquery.fancybox.pack.js"></script><!--main fancybox--> 
<script src="/static/portfolio/js/fancybox/source/helpers/jquery.fancybox-media.js"></script><!--fancybox media--> 
<script src="/static/portfolio/js/fancybox/source/helpers/jquery.fancybox-buttons.js"></script><!--fancybox buttons--> 
<script src="/static/portfolio/js/fancybox/source/helpers/jquery.fancybox-thumbs.js"></script><!--fancybox thumbs--> 
<script src="/static/portfolio/js/fancybox_init.js"></script><!--fancybox load--> 
{% endblock %}